@charset "utf-8";

@font-face {
  font-family: 'TrajanPro3-Bold';                                                                     
  src: url('fonts/TrajanPro3-Bold.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro3-Regular';                                                                     
  src: url('fonts/TrajanPro3-Regular.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Bold';                                                                     
  src: url('fonts/TrajanPro-Bold.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Regular';                                                                     
  src: url('fonts/TrajanPro-Regular.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}


                        
.clr {clear: both;}
.pointer {cursor: pointer; cursor: hand;}      
img {border:none;}
a {text-decoration: none;}

body{width: 100%; margin:0px; padding:0px; font-family:'TrajanPro-Regular',Helvetica,sans-serif; font-size: 12px; color: #ffffff; background: #161522;}
#GLOBAL_CONT{position: absolute; zoom: 1; width: 100%; min-height: 100%; height: auto !important; height: 100%; overflow: hidden; z-index: 100;}
#GLOBAL{position: relative; width: 960px; margin: 0 auto 215px;}

#TOP{position: relative; width: 100%; z-index: 20;}
#TOP a.logo{display: block; width: 983px; height: 211px; background: url(../img/logo.png) no-repeat;}

#TOP .menu{position:absolute; top:30px; right:0; height: 37px;}                                                
#TOP .menu .menu_cnt{height: 37px; background: rgba(84,86,94,0.66); border-radius:5px;}
#TOP .menu .menu_cnt a{display: block; float: left; padding: 12px 15px 7px; font-size: 13px; color: #fff; text-decoration: none; }
#TOP .menu .menu_cnt a:hover{color: #fff;}

/* główna */
#SLIDERR{height: 730px; width: 100%;}

#SLIDER{position: absolute; top: 0; left: 50%; width: 1394px; height: 900px; margin: 0 0 0 -697px; z-index: 10; overflow: hidden;}

#SLIDER .sl{}
#SLIDER .sl .sl_bg{position: absolute; top:0px; z-index: 11; width: 20000em;}
#SLIDER .sl .sl_bg div {float: left; margin: auto; display: none;}

#SLIDER .sl .sl_txt{position: relative; z-index: 12; width: 20000em; height: 398px; margin: 0px auto; padding-top: 250px;}
#SLIDER .sl .sl_txt .stxt{float: left; margin: auto; width: 960px; height: 398px; display: none;}

#SLIDER .sl .sl_txt .sl_l{float: left; width: 435px; padding-right: 55px;}
#SLIDER .sl .sl_txt .sl_r{float: left; width: 470px;}

#SLIDER .sl .sl_txt .sl_l .sl_sm_img{font-family:'TrajanPro-Regular',Helvetica,sans-serif; font-size:27.52px;}       
#SLIDER .sl .sl_txt .sl_l .sl_sm_txt{width: 432px; background: rgba(84,86,94,0.66); border-radius:10px; margin-top:20px;}
#SLIDER .sl .sl_txt .sl_l .sl_sm_txt .sl_sm_txt_in{padding: 25px 25px 25px 25px;}                                                                                                                                


#SLIDER .sl .sl_txt .slider_push{position: absolute; top: 650px;}
#SLIDER .sl .sl_txt .slider_push .push_l{float: left; width: 11px; height: 43px; background: url(../img/slider/arrow.png) no-repeat; margin-right: 10px; margin-top: 22px;}
#SLIDER .sl .sl_txt .slider_push .push_r{float: left; width: 11px; height: 43px; background: url(../img/slider/arrow.png) -11px 0px no-repeat; margin-top: 22px;}

#nav-shadow {list-style: none; margin:0px; padding: 0px;}
#nav-shadow li {width: 89px; height: 108px; padding-top: 20px; position: relative; float: left; margin: 0px 5px;}
#nav-shadow li a span.ico_sh{background: url("../img/slider/ico_sh.png") no-repeat; width: 52px; height: 38px; display: block;}
#nav-shadow li a span.ico_zarowka{background: url("../img/slider/ico_zarowka.png") no-repeat; width: 52px; height: 38px; display: block;}
#nav-shadow li a span.ico_aparat{background: url("../img/slider/ico_aparat.png") no-repeat; width: 52px; height: 38px; display: block;}
#nav-shadow li a span.ico_seo{background: url("../img/slider/ico_seo.png") no-repeat; width: 52px; height: 38px; display: block;}

#nav-shadow a, #nav-shadow a:visited {padding-left:18px; padding-top: 25px;	width: 71px; height: 83px; text-indent: 0px; overflow: hidden; background: url(../img/slider/ico_1.png) no-repeat; display: block; position: relative; z-index: 50;}
#nav-shadow a.active span.ico_sh, #nav-shadow li a:hover span.ico_sh {background: url("../img/slider/ico_sh.png") 0px -38px no-repeat;}
#nav-shadow a.active span.ico_zarowka, #nav-shadow li a:hover span.ico_zarowka {background: url("../img/slider/ico_zarowka.png") 0px -38px no-repeat;}
#nav-shadow a.active span.ico_aparat, #nav-shadow li a:hover span.ico_aparat {background: url("../img/slider/ico_aparat.png") 0px -38px no-repeat;}
#nav-shadow a.active span.ico_seo, #nav-shadow li a:hover span.ico_seo {background: url("../img/slider/ico_seo.png") 0px -38px no-repeat;}
#nav-shadow li img.shadow {margin-left: 18px; position: absolute; bottom: 0; left: 0; z-index: 10; }

#CONTAINER{margin: -260px auto 0px auto; width:960px; position: relative; z-index: 100;}
                                       
#CONTAINER .btn_main_bg{float: left; width: 274px; height: 2px;}
#CONTAINER .btn_main{position: absolute; left: 0; margin-top: 60px; width: 306px; height: 77px; padding: 8px 0px 0px 15px; background: url(../img/btn_main.png) no-repeat; color: #fff; font-size: 20px;}
#CONTAINER .btn_main span{display: block; color: #fccd17; font-size: 30px;}
#CONTAINER .btn_main span .wh{color: #fff; display: inline;}
#CONTAINER .box_aktualnosci{width: 686px; float: left;}
                                                
/* koniec głównej */

#CONTAINER_SUB{width: 100%;}

#CONTAINER_SUB .in{margin: 0; padding: 20px 0; width: 100%;}

#CONTAINER_SUB .in .header {font-size: 40px; color: #fff;}
#CONTAINER_SUB .in .header .y {display: block; margin-left: 6%; color: #fbce16;}
#CONTAINER_SUB .in .header h1.y {display: block; margin: 0 0 0 6%; padding: 0; font-size: 40px; font-weight: normal;}
#CONTAINER_SUB .in .header .b {display: block; margin-left: 14%;}
#CONTAINER_SUB .in .header h1.b {display: block; margin: 0 0 0 6%; padding: 0; font-size: 40px; font-weight: normal;}
#CONTAINER_SUB .in .header .b2 {display: block; margin-left: 26%;}

#CONTAINER_SUB .in .texts {margin: 15px auto 0; width: 844px; overflow: hidden;}
#CONTAINER_SUB .in .texts .text_l {float: left; width: 240px; background: #fff url(../img/kreseczka.png) bottom left repeat-x;}
#CONTAINER_SUB .in .texts .text_l h1 {padding: 20px; text-align: center; font-size: 24px; color: #1b1b1b;}
#CONTAINER_SUB .in .texts .text_r {float: left; padding: 20px; width: 564px; text-align: justify; color: #000; background: #fff; overflow: hidden;}
#CONTAINER_SUB .in .texts .text_r a {color: #000; text-decoration: underline;}

#CONTAINER_SUB .in a {text-decoration: underline;}
#CONTAINER_SUB .in ul {margin: 0; padding: 0 0 0 25px;}

#CONTAINER_SUB .in .input {width: 400px; margin: 4px 0 0;}
#CONTAINER_SUB .in .input .l {float: left; width: 390px; height: 33px; background: url(../img/input_bg.png) 0 0 no-repeat;}
#CONTAINER_SUB .in .input .r {float: left; width: 10px; height: 33px; background: url(../img/input_bg.png) 0 -33px no-repeat;}
#CONTAINER_SUB .in .input .l input {margin: 7px 0 0 10px; background: none; border: none; width: 380px; outline: none; color: #000;}
#CONTAINER_SUB .in .input.err .l {background-image: url(../img/input_bg_error.png);}
#CONTAINER_SUB .in .input.err .r {background-image: url(../img/input_bg_error.png);}

#CONTAINER_SUB .in .tarea {width: 400px; margin: 4px 0 0;}
#CONTAINER_SUB .in .tarea .l {float: left; width: 390px; height: 145px; background: url(../img/textarea_bg.png) 0 0 no-repeat; overflow: hidden;}
#CONTAINER_SUB .in .tarea .r {float: left; width: 10px; height: 145px; background: url(../img/textarea_bg.png) 0 -145px no-repeat;}
#CONTAINER_SUB .in .tarea .l textarea {margin: 7px 0 0 10px; background: none; border: none; width: 380px; height: 127px; outline: none; color: #000; font-family:"Arial",sans-serif; font-size: 12px; resize: none;}
#CONTAINER_SUB .in .tarea.err .l {background-image: url(../img/textarea_bg_error.png);}
#CONTAINER_SUB .in .tarea.err .r {background-image: url(../img/textarea_bg_error.png);}

#CONTAINER_SUB .in input.sbm {color: #1b1b1b; font-size: 16px; margin-top: 16px; display: block; float: right; overflow: hidden; width: 103px; height: 32px; background: url(../img/send.png) no-repeat; border: none;}
#CONTAINER_SUB .in input.sbm:hover {color: #fff;}

#CONTAINER_SUB .in .info {float: left; margin-top: 16px; padding-left: 2px; font-size: 12px;}
#CONTAINER_SUB .in .info span {color: #f5181d; font-weight: bold;}
#CONTAINER_SUB .in #errored {margin-top: 10px;}

#CONTAINER_SUB .in .kontakt_l {float: left; margin-bottom: 40px; width: 35%; font-size: 20px;}
#CONTAINER_SUB .in .kontakt_l a {color: #fff;}
#CONTAINER_SUB .in .kontakt_r {float: right; margin-bottom: 40px; width: 65%; font-size: 20px;}
#CONTAINER_SUB .in .kontakt_r .left {float: left; width: 200px;}
#CONTAINER_SUB .in .kontakt_r .input {width: 200px;}
#CONTAINER_SUB .in .kontakt_r .input .l {width: 190px;}
#CONTAINER_SUB .in .kontakt_r .tarea {float: right; width: 410px;}
#CONTAINER_SUB .in .kontakt_r .tarea .l {width: 400px;}

#CONTAINER_SUB .in .rons {position: relative; margin: -46px 0 0 -46px; padding: 46px; width: 100%; overflow: hidden;}
#CONTAINER_SUB .in .ron {position: relative; width: 720px; height: 210px; background-color: #fff;}
#CONTAINER_SUB .in .ron.right {margin-left: 240px;}
#CONTAINER_SUB .in .ron.left {margin-right: 240px;}
#CONTAINER_SUB .in .ron .text {float: left; width: 240px; height: 210px; background: url(../img/kreseczka.png) bottom left repeat-x;}
#CONTAINER_SUB .in .ron .text a {display: block; padding: 20px; text-align: center; font-size: 18px; font-weight: bold; color: #1b1b1b; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
#CONTAINER_SUB .in .ron .text a:hover {color: #2E6899}
#CONTAINER_SUB .in .ron .text span {display: block; padding: 0 20px 20px; color: #999; font-size: 11px;}
#CONTAINER_SUB .in .ron .image {float: left; width: 480px; height: 210px; overflow: hidden;}
#CONTAINER_SUB .in .ron {-moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
#CONTAINER_SUB .in .ron:hover {box-shadow: 0 2px 46px 1px #000; -webkit-box-shadow: 0 2px 56px 1px #000; -moz-box-shadow: 0 2px 46px 1px #000; z-index: 200;}
#CONTAINER_SUB .in .ron img {-moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
#CONTAINER_SUB .in .ron:hover img {-webkit-transform: scale(1.1,1.1); -moz-transform: scale(1.1,1.1); -o-transform: scale(1.1,1.1); -ms-transform: scale(1.1,1.1); transform: scale(1.1,1.1);}


#CONTAINER_SUB .in .exp_in {margin: auto; width: 960px; overflow: hidden;}
#CONTAINER_SUB .in .exp_left {float: left; width: 510px;}
#CONTAINER_SUB .in .exp_left .under_wheel {margin-top: 20px; width: 490px;}
#CONTAINER_SUB .in .exp_left .under_wheel .uw {display: none;}
#CONTAINER_SUB .in .exp_right {float: right; width: 450px;}
#CONTAINER_SUB .in .exp_right .er {display: none; background: #000; padding:20px;margin:0px 10px;
		-moz-border-radius:10px; /* FF */
		-webkit-border-radius:10px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
		-khtml-border-radius:10px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
		border-radius:10px; /* pozostałe przeglądarki */
		behaviour:url(border-radius.html); /* dodatek dla badzIEwnej przeglądarki */
		opacity: 0.75;
		filter:alpha(opacity=75);
}
#CONTAINER_SUB .in .exp_right .er .number{font-size: 53px; color:#fccd17; float:left; width: 55px;}
#CONTAINER_SUB .in .exp_right .er .nbm_in{padding-top:10px;}
#CONTAINER_SUB .in .exp_right .er .dos_top{font-weight: bold; font-size:24px;}
#CONTAINER_SUB .in .exp_right .er ul{list-style:circle; margin:5px 10px;}

#CONTAINER_SUB .in .green_box {padding: 20px; background-color: darkgreen; text-align: center;}

#REALISATION_LIGHTBOX {}
#REALISATION_LIGHTBOX .real_lig_dsc {}
#REALISATION_LIGHTBOX .real_lig_dsc .real_logo {padding-top:40px; padding-left:10px; padding-right:20px;}
#REALISATION_LIGHTBOX .real_lig_dsc .real_txt {color:#707070; position: relative; height:338px;  border-bottom:#707070 1px solid; font-size:11px;}
#REALISATION_LIGHTBOX .real_lig_dsc .real_txt_in {position:absolute; bottom:0px; padding-bottom: 20px; padding-right:20px;}
#REALISATION_LIGHTBOX .real_lig_dsc .real_link {padding: 30px 0px;}
#REALISATION_LIGHTBOX .real_lig_dsc .real_link a { font-size:18px; color:#fff; text-decoration:none; padding:0px 10px;}
#REALISATION_LIGHTBOX .real_img img {display:block; width:130px; height:130px; margin-bottom:20px; cursor: pointer; cursor: hand;}

#FOOTER{position: absolute; bottom: 0; background: url("../img/footer.jpg") top repeat-x;  width: 100%;}

#FOOTER_IN{margin: 0 auto; width: 960px;}

#FOOTER .column{width: 25%; float: left; padding-top: 45px; padding-bottom: 30px;}

#FOOTER .column .nag{font-size:20px; letter-spacing: 1px; color: #fff; margin-bottom: 20px;}                        

#FOOTER .column ul{list-style: none; font-size: 17.33px; margin:0px; padding: 0px 0 0 0;}
#FOOTER .column ul li{padding-top: 5px;}
#FOOTER .column ul li a{color: #fff; font-size: 13px;} 

#FOOTER .column .ftrtxt{ padding-left: 11px; padding-top: 5px;}
#FOOTER .column .ftrtxt a{margin-top: 10px; color: #fff; display: block; padding-right: 20px; width: 55px; }
                                  
                                  

#umow-sie {display: block; position: absolute; top: 0; right: 0; width: 176px; height: 176px; background: url(../img/umow-sie.png) 0 0 no-repeat; z-index: 500;}

#CONTAINER_SUB .in .title_seo{font-size:24px; color:#fff;}
#CONTAINER_SUB .in .title_seo1{font-size:24px; color:#FBCE16;}
#CONTAINER_SUB .in .ref{width: 375px; padding-top:40px;}
#CONTAINER_SUB .in .ref .out{margin: 0 0 5px; border-bottom: 1px solid #c2c7d6; overflow: hidden; }

#CONTAINER_SUB .in .ref .text{line-height: 25px; font-style: italic; font-size: 16px; color: #3a3a3a;}
#CONTAINER_SUB .in .ref .text .left{float: left; color:#fff; width: 210px; text-align: right;}
#CONTAINER_SUB .in .ref .text .right{float: left; margin: 20px 0 0 35px; width: 130px;}
#CONTAINER_SUB .in .ref .text .app{display: inline-block; padding: 0 5px 0 0; width: 17px; height: 11px; background: url(../img/app.png) 0 0 no-repeat;}
#CONTAINER_SUB .in .ref .text .app.appr{padding: 0; margin: 0 0 0 5px;}
#CONTAINER_SUB .in .ref .author{margin-top: 20px;}
#CONTAINER_SUB .in .ref .who a{display: block; float: left; color: #2f4887;}
#CONTAINER_SUB .in .ref .who a.rm{display: block; float: right; padding-right: 15px; font-size: 14px; color: #b10468; background: url(../images/rm_arrow.html) center right no-repeat;}

#CONTAINER_SUB .in .ref .references{position: relative; height: 440px;}
#CONTAINER_SUB .in .ref .references .glob_ref{display: none; position: absolute; top: 0; left: 0;}

#experience_map area{outline: none;}

.fm1,
.fm2,
.fm3,
.fm4,
.fm5 {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 590px;
  height: 100px;
  margin-top: 10px;
}
.fm1 {
  background: url("../img/fm1.png") no-repeat;
}
.fm1:hover {
  background: url("../img/fm1A.png") no-repeat;
}
.fm2 {
  background: url("../img/fm2.png") no-repeat;
}
.fm2:hover {
  background: url("../img/fm2A.png") no-repeat;
}
.fm3 {
  background: url("../img/fm3.png") no-repeat;
}
.fm3:hover {
  background: url("../img/fm3A.png") no-repeat;
}
.fm4 {
  background: url("../img/fm4.png") no-repeat;
}
.fm4:hover {
  background: url("../img/fm4A.png") no-repeat;
}
.fm5 {
  background: url("../img/fm5.png") no-repeat;
}
.fm5:hover {
  background: url("../img/fm5A.png") no-repeat;
}
.zapisz-sie {
  display: block;
  margin-top:20px;
  margin-left: 170px;
  margin-right: auto;
}